@model IEnumerable<CateringCoordinator.Models.CustomerModels.CustomerList>

@{
    ViewBag.Title = "Index";
}
<body class="body-customer" id="customer">
@if (TempData.ContainsKey("SaveResult"))
{
<div class="alert alert-success fade in" role="alert">
    @ViewBag.SaveResult
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    @TempData["SaveResult"]
</div>
}
<h2><strong>List Of Customers</strong></h2>

<p>
    @Html.ActionLink("Create New Customer", "Create","", new{ @class="btn btn-primary"})
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Details", "Details", new { id = item.CustomerId }, new { @class = "btn btn-success" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
</body>