@model CateringCoordinator.Models.EventModels.EventDetail

@{
    ViewBag.Title = "Details";
}
<body class="body-content" id="eventDetail">
<h2><strong>Event Details</strong></h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NumOfGuest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfGuest)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }, new{ @class = "btn btn-warning" }) 
    @Html.ActionLink("Delete", "Delete", new { id = Model.EventId }, new{ @class = "btn btn-danger" }) 

    @Html.ActionLink("Back to List", "Index","", new{ @class = "btn btn-primary" })
</p>
</body>