@model IEnumerable<CateringCoordinator.Models.EventList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrepArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfGuest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfHelpers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuppliesNeeded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFullService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostOfEvent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrepArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfGuest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfHelpers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuppliesNeeded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFullService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostOfEvent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
