@model IEnumerable<CateringCoordinator.Models.EventModels.EventList>

@{
    ViewBag.Title = "Index";
}
<body class="body-content" id="event">

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <h2><strong><b>List of Events</b></strong></h2>

    <p>
        @Html.ActionLink("Create New Event", "Create","", new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfGuest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfEvent)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfGuest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfEvent)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId }, new{@class = "btn btn-warning"}) 
                    @Html.ActionLink("Details", "Details", new { id = item.EventId }, new { @class = "btn btn-success" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</body>
